extends layout

block content
  .row.grback
    .col-sm-8.col-sm-offset-2.col-md-2.col-md-offset-1
      button.vsoffset.btn.btn-default.btn-block(type="button") View Articles
    .col-sm-8.col-sm-offset-2.col-md-3.col-md-offset-1
      button.vsoffset.btn.btn-default.btn-block(type="button") View Special Features
    .col-sm-8.col-sm-offset-2.col-md-2.col-md-offset-1
      button.vsoffset.btn.btn-default.btn-block(type="button") View Forums
  .row.grback
    .vsoffset
  .row
    .col-sm-4.lmodule
      .row
        .col-sm-12
          h3  A New Journal for a New Epoch.
      .row
        .col-sm-12
          p Elementa is an academic journal publishing original research in the following knowledge domains:
      .row
        .col-sm-12
          ul
            li.hvr-float
              a(href="#")
                .editor
                  p.domain Atmospheric Science
                  p.name Detlev Helmig
                  p.org University of Colorado Boulder
            li.hvr-float
              a(href="#")
                .editor
                  p.domain Earth & Environmental Science
                  p.name Joel D. Blum
                  p.org University of Michigan
            li.hvr-float
              a(href="#")
                .editor
                  p.domain Ecology
                  p.name Donald R. Zak
                  p.org University of Michigan
            li.hvr-float
              a(href="#")
                .editor
                  p.domain Ocean Science
                  p.name Jody Deming
                  p.org University of Washington
            li.hvr-float
              a(href="#")
                .editor
                  p.domain Sustainable Engineering
                  p.name Michael E. Chang
                  p.org Georgia Institute of Technology
            li.hvr-float
              a(href="#")
                .editor
                  p.domain Sustainability Transitions
                  p.name Anne R. Kapuscinski
                  p.org Dartmouth
    .col-sm-8
      .row
        .col-sm-12
          .row
            .col-sm-6.rmodule.tl
              .title
                p.type An Elementa Special Feature
                p.title Avoiding Collapse
            .col-sm-6.rmodule.tr
              .title
                p.type An Elementa Forum
                p.title Oil and Natural Gas Development: Air Quality, Climate Science, and Policy
        .col-sm-12.rmodule.bot
          .title
            p.type Video
            p.title Wayne Clough on the Anthropocene and Engineering

